body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.container {
    width: 100%;
    position: relative;
    background: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.header {
    padding: 10px;
    flex: 1; /* ヘッダーを均等に幅分配 */
}


.header-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* 個人用IDとグループID */
.label {
    font-size: 36px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center; /* テキストを中央揃えにする */
    margin: 10px auto; /* 水平方向に中央に配置 */
}

.group-id {
    font-size: 36px;
    font-family: Inter;
    top: 1000px;
    word-wrap: break-word;
    margin: 10px auto; /* 水平方向に中央に配置 */
}

.container {
    display: flex;
    flex-wrap: wrap; /* 画面幅に合わせて要素を折り返す */
    gap: 10px; /* 適切なギャップサイズを指定 */
}

.avatar {
    width: 100px;
    height: 100px;
    border: 1px black solid;
}

.content-box {
    width: 675px;
    height: 100px;
    background: #FFFCFC;
    border: 1px black solid;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
}



.small-avatar {
    width: 142px;
    height: 138px;
    left: 0px;
    top: 0px;
    position: absolute;
    border: 1px black solid;
}

/*右上画像*/
.side-box {
    width: 139.55px;
    height: 133px;
    right: 0px;
    position: absolute;
}

.side-avatar {
    width: 138.98px;
    height: 133px;
    border: 1px black solid;
}
